	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/11/2016 23:11
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-angle-down:before { content: "\f100"; }
.flaticon-angle-left:before { content: "\f101"; }
.flaticon-angle-right:before { content: "\f102"; }
.flaticon-angle-up:before { content: "\f103"; }
.flaticon-arrow-down:before { content: "\f104"; }
.flaticon-arrow-left:before { content: "\f105"; }
.flaticon-arrow-right:before { content: "\f106"; }
.flaticon-arrow-thin-left:before { content: "\f107"; }
.flaticon-arrow-thin-right:before { content: "\f108"; }
.flaticon-arrow-up:before { content: "\f109"; }
.flaticon-bell:before { content: "\f10a"; }
.flaticon-calendar:before { content: "\f10b"; }
.flaticon-chart-bar:before { content: "\f10c"; }
.flaticon-chart-pie:before { content: "\f10d"; }
.flaticon-check-off:before { content: "\f10e"; }
.flaticon-check-on:before { content: "\f10f"; }
.flaticon-checked:before { content: "\f110"; }
.flaticon-close:before { content: "\f111"; }
.flaticon-cross:before { content: "\f112"; }
.flaticon-days:before { content: "\f113"; }
.flaticon-delete:before { content: "\f114"; }
.flaticon-desktop:before { content: "\f115"; }
.flaticon-dialog-maximize:before { content: "\f116"; }
.flaticon-dialog-minimize:before { content: "\f117"; }
.flaticon-dialog-resize:before { content: "\f118"; }
.flaticon-dialog-restore:before { content: "\f119"; }
.flaticon-download:before { content: "\f11a"; }
.flaticon-drawer:before { content: "\f11b"; }
.flaticon-edit:before { content: "\f11c"; }
.flaticon-email:before { content: "\f11d"; }
.flaticon-error:before { content: "\f11e"; }
.flaticon-exclamation:before { content: "\f11f"; }
.flaticon-folder:before { content: "\f120"; }
.flaticon-image:before { content: "\f121"; }
.flaticon-info:before { content: "\f122"; }
.flaticon-key:before { content: "\f123"; }
.flaticon-logout:before { content: "\f124"; }
.flaticon-md-bold:before { content: "\f125"; }
.flaticon-md-header:before { content: "\f126"; }
.flaticon-md-image:before { content: "\f127"; }
.flaticon-md-italic:before { content: "\f128"; }
.flaticon-md-link:before { content: "\f129"; }
.flaticon-md-list-bullet:before { content: "\f12a"; }
.flaticon-md-list-number:before { content: "\f12b"; }
.flaticon-md-preview:before { content: "\f12c"; }
.flaticon-md-strike:before { content: "\f12d"; }
.flaticon-md-under:before { content: "\f12e"; }
.flaticon-notification:before { content: "\f12f"; }
.flaticon-overflow:before { content: "\f130"; }
.flaticon-overflow-dark:before { content: "\f131"; }
.flaticon-page:before { content: "\f132"; }
.flaticon-pencil:before { content: "\f133"; }
.flaticon-phone:before { content: "\f134"; }
.flaticon-plus:before { content: "\f135"; }
.flaticon-question:before { content: "\f136"; }
.flaticon-radio-off:before { content: "\f137"; }
.flaticon-radio-on:before { content: "\f138"; }
.flaticon-search:before { content: "\f139"; }
.flaticon-settings:before { content: "\f13a"; }
.flaticon-st-color:before { content: "\f13b"; }
.flaticon-st-css:before { content: "\f13c"; }
.flaticon-st-test:before { content: "\f13d"; }
.flaticon-st-typo:before { content: "\f13e"; }
.flaticon-tree-check-off:before { content: "\f13f"; }
.flaticon-tree-check-on:before { content: "\f140"; }
.flaticon-tree-check-partial:before { content: "\f141"; }
.flaticon-tree-collapse:before { content: "\f142"; }
.flaticon-tree-expand:before { content: "\f143"; }
.flaticon-tri-down:before { content: "\f144"; }
.flaticon-tri-left:before { content: "\f145"; }
.flaticon-tri-right:before { content: "\f146"; }
.flaticon-tri-up:before { content: "\f147"; }
.flaticon-upload:before { content: "\f148"; }
.flaticon-window:before { content: "\f149"; }