/*
    Flaticon icon font: Flaticon
    Creation date: 03/10/2016 20:43
    */
@include font-face( 'Framework', font_files('glyphs/Flaticon.woff', woff, 'glyphs/Flaticon.ttf', ttf, 'glyphs/Flaticon.svg', svg ), ('glyphs/Flaticon.eot'), normal, normal );
@media screen and (-webkit-min-device-pixel-ratio:0) {
   @font-face{
    font-family: 'Framework';
    src        : url('../fonts/glyphs/Flaticon.svg#Flaticon') format("svg");
  }
}

.fi-ui {
  font-size: 1em;
}

.fi-ui:before,
[class*=' fi-ui-']:before,
[class^='fi-ui-']:before {
  font-family            : 'Framework';
  font-weight            : normal;
  font-style             : normal;
  font-variant           : normal;
  line-height            : 1;
  display                : inline-block;
  text-decoration        : inherit;
  text-transform         : none;
  text-rendering         : optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing : antialiased;
  font-smoothing         : antialiased;
}

.fi-ui-angle-down:before {
  content: '\f100';
}

.fi-ui-angle-left:before {
  content: '\f101';
}

.fi-ui-angle-right:before {
  content: '\f102';
}

.fi-ui-angle-up:before {
  content: '\f103';
}

.fi-ui-arrow-down:before {
  content: '\f104';
}

.fi-ui-arrow-left:before {
  content: '\f105';
}

.fi-ui-arrow-right:before {
  content: '\f106';
}

.fi-ui-arrow-thin-left:before {
  content: '\f107';
}

.fi-ui-arrow-thin-right:before {
  content: '\f108';
}

.fi-ui-arrow-up:before {
  content: '\f109';
}

.fi-ui-bell:before {
  content: '\f10a';
}

.fi-ui-calendar:before {
  content: '\f10b';
}

.fi-ui-chart-bar:before {
  content: '\f10c';
}

.fi-ui-chart-pie:before {
  content: '\f10d';
}

.fi-ui-check-off:before {
  content: '\f10e';
}

.fi-ui-check-on:before {
  content: '\f10f';
}

.fi-ui-cross:before {
  content: '\f110';
}

.fi-ui-days:before {
  content: '\f111';
}

.fi-ui-delete:before {
  content: '\f112';
}

.fi-ui-desktop:before {
  content: '\f113';
}

.fi-ui-dialog-maximize:before {
  content: '\f114';
}

.fi-ui-dialog-minimize:before {
  content: '\f115';
}

.fi-ui-dialog-restore:before {
  content: '\f116';
}

.fi-ui-download:before {
  content: '\f117';
}

.fi-ui-drawer:before {
  content: '\f118';
}

.fi-ui-edit:before {
  content: '\f119';
}

.fi-ui-email:before {
  content: '\f11a';
}

.fi-ui-folder:before {
  content: '\f11b';
}

.fi-ui-image:before {
  content: '\f11c';
}

.fi-ui-key:before {
  content: '\f11d';
}

.fi-ui-logout:before {
  content: '\f11e';
}

.fi-ui-overflow:before {
  content: '\f11f';
}

.fi-ui-overflow-dark:before {
  content: '\f120';
}

.fi-ui-page:before {
  content: '\f121';
}

.fi-ui-pencil:before {
  content: '\f122';
}

.fi-ui-phone:before {
  content: '\f123';
}

.fi-ui-plus:before {
  content: '\f124';
}

.fi-ui-radio-off:before {
  content: '\f125';
}

.fi-ui-radio-on:before {
  content: '\f126';
}

.fi-ui-search:before {
  content: '\f127';
}

.fi-ui-settings:before {
  content: '\f128';
}

.fi-ui-tree-check-off:before {
  content: '\f129';
}

.fi-ui-tree-check-on:before {
  content: '\f12a';
}

.fi-ui-tree-check-partial:before {
  content: '\f12b';
}

.fi-ui-tri-down:before {
  content: '\f12c';
}

.fi-ui-tri-left:before {
  content: '\f12d';
}

.fi-ui-tri-right:before {
  content: '\f12e';
}

.fi-ui-tri-up:before {
  content: '\f12f';
}

.fi-ui-upload:before {
  content: '\f130';
}

.fi-ui-window:before {
  content: '\f131';
}

$fi-ui-angle-down: '\f100';
$fi-ui-angle-left: '\f101';
$fi-ui-angle-right: '\f102';
$fi-ui-angle-up: '\f103';
$fi-ui-arrow-down: '\f104';
$fi-ui-arrow-left: '\f105';
$fi-ui-arrow-right: '\f106';
$fi-ui-arrow-thin-left: '\f107';
$fi-ui-arrow-thin-right: '\f108';
$fi-ui-arrow-up: '\f109';
$fi-ui-bell: '\f10a';
$fi-ui-calendar: '\f10b';
$fi-ui-chart-bar: '\f10c';
$fi-ui-chart-pie: '\f10d';
$fi-ui-check-off: '\f10e';
$fi-ui-check-on: '\f10f';
$fi-ui-cross: '\f110';
$fi-ui-days: '\f111';
$fi-ui-delete: '\f112';
$fi-ui-desktop: '\f113';
$fi-ui-dialog-maximize: '\f114';
$fi-ui-dialog-minimize: '\f115';
$fi-ui-dialog-restore: '\f116';
$fi-ui-download: '\f117';
$fi-ui-drawer: '\f118';
$fi-ui-edit: '\f119';
$fi-ui-email: '\f11a';
$fi-ui-folder: '\f11b';
$fi-ui-image: '\f11c';
$fi-ui-key: '\f11d';
$fi-ui-logout: '\f11e';
$fi-ui-overflow: '\f11f';
$fi-ui-overflow-dark: '\f120';
$fi-ui-page: '\f121';
$fi-ui-pencil: '\f122';
$fi-ui-phone: '\f123';
$fi-ui-plus: '\f124';
$fi-ui-radio-off: '\f125';
$fi-ui-radio-on: '\f126';
$fi-ui-search: '\f127';
$fi-ui-settings: '\f128';
$fi-ui-tree-check-off: '\f129';
$fi-ui-tree-check-on: '\f12a';
$fi-ui-tree-check-partial: '\f12b';
$fi-ui-tri-down: '\f12c';
$fi-ui-tri-left: '\f12d';
$fi-ui-tri-right: '\f12e';
$fi-ui-tri-up: '\f12f';
$fi-ui-upload: '\f130';
$fi-ui-window: '\f131';